* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  font-family: sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background-color: red;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

#btn {
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
}

#btn:hover {
  background-color: #fff;
}

#btn::selection {
  outline-width: 0;
  border: none;
}
